Classroom Info
<p>
  <%= render partial: 'classroom', locals: {classroom: @classroom} %>
</p>

<% @classroom.students.each do |s| %>
<%= render partial: 'students/student', locals: {student: s} %>
<% end %>
